config/.debug
config/.describe
config/.lightning
config/.local_store
config/.org_metadata
config/.settings
kv-movies-app.sublime-project
kv-movies-app.sublime-workspace
.sfdx
.vscode
.DS_Store
test_results.json
test_results.xml
node_modules
package.json
package-lock.json